@import "antd/dist/antd.css";

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.margin--top {
  margin-top: 80px;
}

.spinner {
  margin: 80px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.spinner {
  background: rgba(255, 255, 255, 0.08);
}

.alert-margin--top {
  margin-top: 100px;
}

.fluid-container {
  margin: 0 auto;
  min-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}
